
html, body, #root, .App {
    height: 100%;
}

body {
    background-color: rgb(129, 213, 216);
}

.App {
    display: flex;
    flex: 1;

    height: '100%';

    align-items: center;
    justify-content: center;
}

.screen {
    display: flex;
    flex: 1;

    height: '100%';
}